@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

* {
    padding: 0;
    margin: 0%;
    box-sizing: border-box;
}

body{
    background-color: #f5f5f5;
}

.container{

    height: 550px;
    width: 950px;
    max-width: 100%;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    display: flex;
}

.left-column{
    background-color: #007FFF;
    width: 42%;
    height: 550px;
    border-radius: 10px 0px 0px 10px;
    color: white;
}

.leftpart{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 50px;
    margin:auto;
}

.LeftColumnImage{
    width: 300px;
    height: 250px;  
}

.left-column h2{
    font-family: poppins;
    font-weight: 300;
    font-size: 22px;
}

.left-column h3{
    font-family: poppins;
    font-weight: 200;
    font-size: 16px;
    color: #ffffff9c;
}

.leftpartlogo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.leftpartlogo h4{
    font-family: poppins;
    font-weight: 500;
    font-size: 19px;
}

.Leftpartbottom p{
    text-align: center;
    font-family: poppins;
    font-weight: 300;
    font-size: 12px;
    color: #ffffff9c;
}

.FormField{
    margin-top: 20px;
}

.right-column{
    background-color: #ffffff;
    width: 58%;
    height: 550px;
    border-radius: 0px 10px 10px 0px;
    color: #000000;
}

.rightcontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.title{
    font-family: poppins;
    font-size: 20px;
    font-weight: 500;
}

.titlepara{
    font-family: poppins;
    font-size: 12px;
    color: #0000007f;
    text-align: center;
}

.labelinput{
    font-family: poppins;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 10px;

}

.labelinput label{
    font-size: 13px;
    font-weight: 300;
    margin: 5px 0px 5px 0px;
}

.labelinput input{
    width: 300px;
    padding: 13px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.422);
}

.SubmitButton{
    margin-top: 10px;
    width: 300px;
    padding: 13px;
    border: 0px;
    border-radius: 5px;
    color: white;
    background-color: #007FFF;
    font-size: 14px;
    font-weight: bold;
    font-family: poppins;
}